@font-face {
	font-family: 'montserrat';
	src: url(../Fonts/static/Inter-bold.ttf);
    // font-family: 'montserrat400';
	// src: url(../Fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: 'montserrat400';
	src: url(../Fonts/static/Inter-ExtraLight.ttf);
}